/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

/* font style class*/
.finger-paint-regular {
  font-family: "Finger Paint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(19, 24, 37);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size-normal: 16px;
  --font-size-small: 12px;
  --font-size-big: 22px;

  /* Variables for colors and shadows */
  --primary-color: #1d3275;
  --secondary-color: #1b2853;
  --accent-color: #02b2b8;
  --shadow-color: #0b0e1da9;
}

#app {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* toolbar */
.toolbar {
  max-width: 900px;
  width: 95%;
  max-height: 100px;
  height: 100px;
  background-color: var(--primary-color);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 3px 5px 0px var(--shadow-color);
  padding: 0px 10px;
}

/* canvas */
canvas {
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
}

/* input color */
.selector-color {
  background-color: rgba(196, 196, 196, 0.726);
  border-radius: 6px;
  width: 100px;
  height: 30px;
  box-shadow: 0px 3px 5px 0px var(--shadow-color);
  cursor: pointer;
}

/* container btn */
.container-btn-return {
  display: flex;
  width: 200px;
  height: 60px;
  border: 2px solid var(--primary-color);
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 14px;
  box-shadow: 0px 3px 5px 0px var(--shadow-color);
  padding: 0 2px;
}

.btn-reset {
  width: 40px;
  height: 40px;
  border: var(--accent-color) 2px solid;
  border-radius: 15px;
  cursor: pointer;
}

.btn-reset img {
  width: 100%;
  height: auto;
}

/* return buttons */
.btn-return {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid rgba(20, 91, 112, 0.548);
  box-shadow: 0 0 5px 2px rgba(20, 49, 112, 0.548);
}

.btn-return img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.btn-left {
  transform: scaleX(-1);
}

/* input line width */
input[type="number"] {
  border: none;
  width: 60px;
  height: 22px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: var(--accent-color) 3px solid;
  background-color: #fff;
  color: #111;
  font-size: var(--font-size-big);
  box-shadow: 0px 3px 5px 0px var(--shadow-color);
}

@media (max-width: 1000px) {
  #app {
    margin-top: 25px;
  }

  .toolbar {
    height: 80px;
  }

  .btn-return {
    width: 40px;
    height: 40px;
  }

  .btn-reset {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 320px) {
  #app {
    margin-top: 15px;
  }

  .toolbar {
    height: 80px;
  }

  .selector-color {
    width: 70px;
  }

  input[type="number"] {
    width: 50px;
  }
}

@media (max-width: 200px) {
  #app {
    margin-top: 5px;
    gap: 10px;
  }

  .toolbar {
    border-radius: 10px;
    height: 90vh;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .container-btn-return {
    width: 98%;
    height: 50px;
  }

  .selector-color {
    width: 90%;
    height: 30px;
  }

  input[type="number"] {
    width: 90%;
    height: 17px;
  }
}